{% extends 'school/base_template.html' %}

{% block page_title %}
    Innovation Club
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Innovation Club</h3>
                        </div>
                        <div class="card-body">
                           <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>Date</th>
                                        <th>Name</th>
                                        <th>Class</th>
                                        <th>Project Name</th>
                                        <th>Progress</th>
                                    </tr>
                                    </thead>
                                    {% for innovation in innovations  %}
                                    <tr>                                        <td>{{innovation.date}}</td>
                                        <td>{{innovation.name}}</td>
                                        <td>{{innovation.grade}}</td>
                                        <td>{{innovation.project_name}}</td>
                                        <td>{{innovation.progress}}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
      </section>
  {% endblock main_content %}

{% block custom_js %}

{% endblock custom_js %}